/*@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Rubik&display=swap');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
*/

.coffee-list {
  background-image: url("img/background.jpg");
  background-size: cover;
}
.coffee-item span {
  font-family: 'Rubik', sans-serif; /*подключение шрифта*/
  margin-left: 25px;
  font-size: 25px;
}
 .coffee-item { /*обращаемся в элементу*/
  color: white;
  background-color: rgba(0, 0, 0, 0.7); /*делает прозрачным задний фон за названием*/  
  margin: 15px 0; /* отступ по оси У 15рх по Х 0*/
  border-radius: calc(100px / 2); /* скругление с использованием функции calc() пробелы в скобках обязательно!!!*/ 
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Rubik', sans-serif;*/
  border: 2px solid white;
  /*transition: background-color 300ms, transform 300ms;*/
  transition: all 300ms; 
  cursor: pointer; /*при наведении появляется рука*/
}

.coffee-item img {
  height: 100px;
  background-color: white;
  border-radius: 50%;
}

.coffee-item:hover {
  background-color: rgba(50, 50 , 50, 0.7);
  transform: scale(1.05);
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}

.coffee-item:hover span {
  font-family: 'Roboto', sans-serif;
}

.coffee-oper {
  background-color: rgb(230, 230, 230);
  padding: 1rem;
}

.display {
  background-color: lightgreen;
  border: 2px solid darkgreen;
  box-sizing: border-box;
  padding: 0.5rem;
  font-family: 'Rubik', sans-serif;
}

.cup-container {
  margin-top: 2rem
}

.cup {
  width: 100%;
  display: none;
  opacity: 0;
}

.atm {
  width: 100%
}

.change-container {
  min-height: 5rem;
  background-color: lightgrey;
  border: 4px solid black;
  border-radius: 0.3rem;
  position: relative;
}











